biophys_model/*.csv
biophys_model/*.pyc
biophys_model/external_inputs_*
biophys_model/inputs_data*
biophys_model/output*
biophys_model/x86_64
biophys_model/*.json
biophys_model/*.log
biophys_model/*.hoc
biophys_model/.DS_Store
biophys_model/neuronal_model
biophys_model/.vscode


LIF_model/*.csv
LIF_model/*.pyc
LIF_model/external_inputs_*
LIF_model/inputs_data*
LIF_model/output*
LIF_model/x86_64
LIF_model/*.json
LIF_model/*.log
LIF_model/*.hoc
LIF_model/*.npy
LIF_model/.ipynb*
LIF_model/.DS_Store
LIF_model/.vscode

LIF_model_nest/*.csv
LIF_model_nest/*.pyc
LIF_model_nest/external_inputs_*
LIF_model_nest/inputs_data*
LIF_model_nest/output*
LIF_model_nest/x86_64
LIF_model_nest/*.json
LIF_model_nest/*.log
LIF_model_nest/*.hoc
LIF_model_nest/*.npy
LIF_model_nest/.ipynb*
LIF_model_nest/.DS_Store
LIF_model_nest/.vscode

*.log
neuronal_model
