*.pyc
*.log

biophys_model_v0/*.csv
biophys_model_v0/*.pyc
biophys_model_v0/external_inputs_*
biophys_model_v0/inputs_data*
biophys_model_v0/output*
biophys_model_v0/x86_64
biophys_model_v0/*.json
biophys_model_v0/*.log
biophys_model_v0/*.hoc
biophys_model_v0/.DS_Store
biophys_model_v0/neuronal_model

biophys_model_v1/*.csv
biophys_model_v1/*.pyc
biophys_model_v1/external_inputs_*
biophys_model_v1/inputs_data*
biophys_model_v1/output*
biophys_model_v1/x86_64
biophys_model_v1/*.log
biophys_model_v1/*.hoc
biophys_model_v1/.DS_Store



